
#main-header{
	  	text-align: center;
	  	background-color: purple;
	  	color :white;
	  	padding:15px;

	  }

#main-footer{
	  	text-align: center;
	  	background-color: purple;
	  	color:white;
	  	font-size:15px;

	  }
body{
	 	font-family: Arial, Helvetica , sans-serif;
	 	background color: coral;
	 	font size:16px;
	 	line-height: 1.6em;
	 	color:white;
	 }
p{
	 	font-family: Arial Black ,Gadget , sans-serif;
	 
		font-family: serif;
		font-size: 20px;
		position: relative;
		padding: 15px 5px 0px 5px;
	}

.borderOne {
	 	border:2px;
	 	width:280px;
	 	height:280px;
	 	align-content: center;
	 }
html {
 	background:url('navy.jpg') no-repeat center fixed;
 	background-size: cover ;
 }
.row {
	width: 100%;
}

@media (min-width: 992px) {
 
  .col-lg-4 {
    width: 33.33%;
    float: left;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .col-md-12 {
    width: 100%;
    float: left;
  }
}

@media (max-width: 767px)  {
  .col-sx-12 {
  	float: left;
    width: 100%;
  }
}

